# Уровень логирования
LOG_LEVEL=INFO

# Параметры RabbitMQ
RABBIT_HOST=localhost
RABBIT_PORT=5672

# Параметры БД
DB_USERNAME=root
DB_PWD=
DB_HOST=localhost
DB_PORT=3306
DB_NAME=call_center

RABBIT_CALLS_QUEUE=calls