# Уровень логирования
LOG_LEVEL=INFO

# Параметры Asterisk
ASTERISK_HOST=localhost
ASTERISK_PORT=5038
ASTERISK_USER=managerami
ASTERISK_PWD=mysecret

# Параметры RabbitMQ
RABBIT_HOST=localhost
RABBIT_PORT=5672
RABBIT_EVENTS_ECHANGE=events