/* body {
    background-color: #e5e5e5;
} */

h1 {
    font-size: 1.7rem; /* Уменьшите размер шрифта по своему усмотрению */
}

h2 {
   font-size: 1.5rem; /* Уменьшите размер шрифта по своему усмотрению */
}
