# Уровень логирования
LOG_LEVEL=INFO

# Параметры RabbitMQ
RABBIT_HOST=localhost

# Параметры WebSocket
APP_NEW_CALL_WEBSOCKET_HOST=0.0.0.0
APP_NEW_CALL_WEBSOCKET_PORT=5078

# Дополнительные параметры
RABBIT_EVENTS_EXCHANGE=events
RABBIT_APP_NEW_CALL_EVENTS_QUEUE=app_new_call

# Параметры БД
DB_USERNAME=root
DB_PWD=
DB_HOST=localhost
DB_PORT=3306
DB_NAME=call_center