# Уровень логирования
LOG_LEVEL=INFO

# Параметры RabbitMQ
RABBIT_HOST=localhost

# Параметры WebSocket
WEBSOCKET_HOST=0.0.0.0
WEBSOCKET_PORT=5078

# Дополнительные параметры
RABBIT_EVENTS_EXCHANGE=events

# Параметры БД
DB_USERNAME=root
DB_PWD=
DB_HOST=localhost
DB_PORT=3306
DB_NAME=call_center