# Уровень логирования
LOG_LEVEL = INFO

# Настройки для MySQL
DB_USER = 
DB_PWD = 
DB_HOST = localhost
DB_NAME = call_center

# Интервал опроса базы данных (в секундах)
POLLING_INTERVAL=900

# YOS
YOS_ACCESS_KEY_ID=<Ваш access key для YOS>
YOS_SECRET_ACCESS_KEY=<Ваш secret key для YOS>
YOS_BUCKET_NAME=penart-record
YOS_REGION=ru-central1

# SPEECH
API_SECRET_KEY=<Ваш secret key для SPEECH>
