# Уровень логирования
LOG_LEVEL = INFO

# Настройки для MySQL
DB_USER =
DB_PWD = 
DB_HOST = localhost
DB_NAME = call_center

# Интервал опроса базы данных (в секундах)
POLLING_INTERVAL=30

# SPEECH
SPEECH_API_KEY=<Ваш API key для SPEECH>
SPEECH_API_SECRET_KEY=<Ваш secret key для SPEECH>
