# Конфигурация логирования
LOG_LEVEL=INFO

APP_LISTEN_HOST=asterisk

# Конфигурация базы данных
DB_DRIVER=mysql  # Или postgresql, sqlite и др.
DB_HOST=mariadb
DB_PORT=3306  # По умолчанию для MySQL
DB_USER=root
DB_PWD=your_db_password
DB_NAME=call_center

# Секретный ключ для Flask
APP_SECRET_KEY=your_random_secret_key

# Администратор
APP_MANAGER_USER=user_name
APP_MANAGER_PWD=user_password

# Url для загрузки файла
ASTERISK_RECORD_URL=http://asterisk:8088/static/monitor

ASTERISK_MANAGEMENT_CONSOLE_URL=http://asterisk:8888

# Подключенные модули
MOD_STATISTIC=False
MOD_TRANSCRIPT=False
MOD_RECORD=False
MOD_NEW_CALL=False