# Уровень логирования
LOG_LEVEL=INFO

# Параметры RabbitMQ
RABBIT_HOST=localhost
RABBIT_PORT=5672

# Параметры Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_KEY_EXPIRE=3600

# Дополнительные параметры
CLIENT_URL=
RABBIT_EVENTS_EXCHANGE=events
RABBIT_EVENTS_QUEUE=events