<!-- edit_contact.html -->
{% extends 'base.html' %}

{% block title %}Редактирование контакта{% endblock %}

{% block content %}
<h1>Редактирование контакта</h1>

<form method="POST">
   <div class="mb-3">
       <label for="name" class="form-label">Имя</label>
       <input type="text" class="form-control" id="name" name="name" value="{{ contact.name }}" required>
   </div>
   <div class="mb-3">
       <label for="phone" class="form-label">Телефон</label>
       <input type="text" class="form-control" id="phone" name="phone" value="{{ contact.phone }}" required>
   </div>
   <div class="mb-3">
       <label for="call_date" class="form-label">Дата звонка</label>
       <input type="datetime-local" class="form-control" id="call_date" name="call_date" value="{% if contact.call_date %}{{ contact.call_date.strftime('%Y-%m-%dT%H:%M') }}{% endif %}">
   </div>
   <div class="mb-3 form-check">
       <input type="checkbox" class="form-check-input" id="is_lead" name="is_lead" {% if contact.is_lead %}checked{% endif %} value="True">
       <label class="form-check-label" for="is_lead">Лид</label>
   </div>
   <div class="mb-3">
       <label for="note" class="form-label">Заметка</label>
       <textarea class="form-control" id="note" name="note">{{ contact.note }}</textarea>
   </div>
   <div class="mb-3">
       <label for="orders" class="form-label">Заказы</label>
       <textarea class="form-control" id="orders" name="orders">{{ contact.orders }}</textarea>
   </div>
   <div class="form-group row">
      <div class="col-sm-10">
         <button type="submit" class="btn btn-primary">Сохранить</button>
         <a href="{{ url_for('contacts_bp.contacts') }}" class="btn btn-secondary mr-2">Отменить</a>
      </div>
   </div>

</form>
{% endblock %}

