<!DOCTYPE html>
<html lang="ru">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{% block title %}{% endblock %}</title>
   <!-- Bootstrap стили -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css"/> -->
   <!-- кастомные стили -->
   <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

   <!-- навигация -->
   <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
         <a class="navbar-brand" href="#">KUZUGASHEV</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Главная</a>
               </li>
               {% if current_user.is_authenticated and modules and modules['MOD_STATISTIC'] %}
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                     aria-expanded="false">
                     Статистика
                  </a>
                  <ul class="dropdown-menu">
                     <li>
                        <a class="dropdown-item" href="{{ url_for('call_log_bp.show_log') }}">Журнал звонков</a>
                     </li>
                     <li>
                        <hr class="dropdown-divider">
                     </li>
                     <li>
                        <a class="dropdown-item" href="{{ url_for('report_bp.report') }}">Статистика звонков</a>
                     </li>
                  </ul>
               </li>
               {% endif %}
               {% if current_user.is_authenticated and current_user.username == 'admin' %}
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                     aria-expanded="false">
                     Конфигурация
                  </a>
                  <ul class="dropdown-menu">
                     <li>
                        <a class="dropdown-item" href="{{ url_for('users_bp.show_users') }}">Пользователи</a>
                     </li>
                     <li>
                        <a class="dropdown-item" href="{{ url_for('extens_bp.show_extens') }}">Абоненты</a>
                     </li>
                     <li>
                        <a class="dropdown-item" href="{{ url_for('contacts_bp.contacts') }}">Контакты</a>
                     </li>
                     <li>
                        <a class="dropdown-item" href="{{ url_for('categories_bp.call_categories') }}">Категории
                           звонков</a>
                     </li>
                     <li>
                        <hr class="dropdown-divider">
                     </li>
                     <li>
                        <a class="dropdown-item" href="{{ url_for('settings_bp.settings') }}">Настройки</a>
                     </li>
                  </ul>
               </li>
               <li class="nav-item">
                  <a class="nav-link disabled" aria-disabled="true">Disabled</a>
               </li>
               {% endif %}
            </ul>
            {% if current_user.is_authenticated %}
            <div сдфыы="d-flex align-items-center">
               <span>Привет, {{ current_user.username }}!</span>
               <a href="{{ url_for('logout') }}" class="btn btn-secondary">Выход</a>
            </div>
            {% endif %}
         </div>
      </div>
   </nav>

   <!-- контент дочерних шаблонов -->
   <div class="container my-3">
      <!-- Блок для отображения сообщений -->
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
         {{ message }}
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      {% block content %}
      {% endblock %}
   </div>

   <!-- Подключение jQuery и Bootstrap JS -->
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/esm/popper.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

   {% block script %}
   {% endblock %}

</body>

</html>