# Уровень логирования
LOG_LEVEL=DEBUG
# Путь к скриптам, которые будут использоваться в проекте
SCRIPT_PATH=../../scripts
# Путь к скрипту для управления сервисами
SERVICE_CONTROL_SCRIPT=service_control.py
# Интервал в секундах для мониторинга сервиса
SERVICE_MONITOR_INTERVAL=60
