# переменные окружения Yandex S3 и их ключи
YOS_ACCESS_KEY_ID=
YOS_SECRET_ACCESS_KEY=
YOS_BUCKET_NAME=
# переменные окружения для работы с API Yandex Cloud SpeechKit
API_KEY=
API_SECRET_KEY=
SPEECH_MODEL=general #default: deferred-general
# модули, которые будут запущены при старте системы
MOD_STATISTIC=True
MOD_TRANSCRIPT=False
MOD_RECORD=True
MOD_NEW_CALL=False
# база данных
DB_PWD=
# настройки администратора саййта
MANAGER_USER=admin
MANAGER_PWD=
