{% extends 'body.html' %}

{% block title %}История звонков{% endblock %}

{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">

    <!-- <script src="../instance/imask.css"></script>
    <script src="../instance/imask.js"></script> -->

    <h1 class="mb-5">История звонков</h1>

    Время звонка:
        
        <table style="width:30%" class="table">
            <tr>
                <th>
                    <div class="col">
                        <input type="text" id="from" name="fromdt" class="form-control" value="{{fromdt}}"/>
                    </div>
                </th>
                <th>
                    <div class="col">
                        <input type="text" id="to" name="todt" class="form-control"  value="{{todt}}"/>
                    </div>
                </th>
                <th>
                    <div class="col" class="text-center">
                        <button id="btn_find" type="button" class="btn btn-primary">Найти</button>
                    </div>
                </th>
            </tr>
        </table>
    

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">номер звонящего</th>
                    <th scope="col">номер вызываемого</th>
                    <th scope="col">клиент</th>
                    <th scope="col">время звонка</th>
                    <th scope="col">время конца звонка</th>
                    <th scope="col">статус звонка</th>
                    <th scope="col">аудио запись</th>
                    <th scope="col">перевод</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for row in data %}
                    <tr>        
                        <td  scope="row">{{row.id}}</td>
                        <td>{{row.caller}}</td>
                        <td>{{row.callee}}</td>
                        <td>{{row.caller_id}}</td>
                        <td>{{row.call_start}}</td>
                        <td>{{row.call_end}}</td>
                        <td>{{row.call_status}}</td>
                        <td><a href="http://localhost:8088/static/monitor{{row.record_file}}" target="_blank" >Запись</a></td>
                        <td></td>
                    </tr>                
                {% endfor %}
            </tbody>
        </table>        
   

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="/history/{{fromdt}}/{{todt}}/{{page_index-1}}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% for i in range(1, total_pages + 1) %}
          <li class="page-item"><a class="page-link" href="/history/{{fromdt}}/{{todt}}/{{i}}">{{i}}</a></li>
          {% endfor %}
          <li class="page-item">
            <a class="page-link" href="/history/{{fromdt}}/{{todt}}/{{page_index+1}}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        $.datepicker.setDefaults({
            dateFormat: 'yy-mm-dd'
        });
        $(function(){
            $("#from").datepicker();
            $("#to").datepicker();
        });
        // $('#range').click(function(){
        //     var From = $('#From').val();
        //     var to = $('#to').val();
        //     if(From != '' && to != '')
        //     {
        //         $.ajax({
        //             url:"/range",
        //             method:"POST",
        //             data:{From:From, to:to},
        //             success:function(data)
        //             {
        //                 $('#purchase_order').html(data);
        //                 $('#purchase_order').append(data.htmlresponse);
        //             }
        //         });
        //     }
        //     else
        //     {
        //         alert("Please Select the Date");
        //     }
        // });
    });
    
    $("#btn_find").on("click", function(e){
        e.preventDefault();
        window.location.replace(`/history/${$('#from').val()}/${$('#to').val()}/1`)
    });

    //$.get( "ajax/test.html", function( data ) {
    //$( ".result" ).html( data );
    //alert( "Load was performed." );
    //});

    function on_submit(){
        $('#form1').a
        $('#form1').submit();
    }
    </script>

{% endblock %}
